In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('results_fcfs-400-0,6.csv',
 delimiter=', ', header=None, names=['batch', 'E_W', 'E_Nq', 'E_Ns'], skiprows=1)

<ipython-input-8-65abecd2f338>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('results_fcfs-400-0,6.csv',

In [20]:
df['E_W'] = df['E_W'].map(lambda x: float(x))
df['E_Nq'] = df['E_Nq'].map(lambda x: float(x))
df['E_Ns'] = df['E_Ns'].map(lambda x: float(x))

In [21]:
df

      batch       E_W    E_Nq    E_Ns
0         1  1.406293  0.7325  0.6050
1         2  0.923679  0.4925  0.4850
2         3  1.669179  0.9725  0.6600
3         4  1.407936  0.8950  0.6225
4         5  1.329512  0.8050  0.6125
...     ...       ...     ...     ...
3195   3196  2.454328  1.3650  0.6325
3196   3197  1.097265  0.6125  0.5600
3197   3198  1.395174  0.8100  0.5850
3198   3199  0.895653  0.5075  0.5625
3199   3200  2.016078  1.2750  0.6325

[3200 rows x 4 columns]

In [23]:
avgs = []
avgs.append(df['E_W'].mean())
avgs.append(df['E_Nq'].mean())
avgs.append(df['E_Ns'].mean())
avgs

[1.494011630865443, 0.8989500000000001, 0.59959921875]

In [32]:
soma = np.array([0, 0])
for index, row in df.iterrows():
    soma[0] += (row['E_W'] - avgs[0])**2
    soma[1] += (row['E_Nq'] - avgs[1])**2
var = soma * 1/(len(df) - 1)

In [41]:
from math import sqrt
width_ic = [sqrt(var[0])/sqrt(len(df)), sqrt(var[1])/sqrt(len(df))]
IC_w = (avgs[0] - 1.96*width_ic[0], avgs[0] + 1.96*width_ic[0])
IC_nq = (avgs[1] - 1.96*width_ic[1], avgs[1] + 1.96*width_ic[1])

In [45]:
print(f"IC de W: {IC_w}")
print(f"IC de Nq: {IC_nq}")

IC de W: (1.4849667633700756, 1.5030564983608103)
IC de Nq: (0.8930741882166134, 0.9048258117833868)

In [48]:
accuracy_w = (IC_w[1] - IC_w[0])/(IC_w[1] + IC_w[0])
accuracy_nq = (IC_nq[1] - IC_nq[0])/(IC_nq[1] + IC_nq[0])

print(f"W precision: {accuracy_w}\nNq precision: {accuracy_nq}")

W precision: 0.00605408104495673
Nq precision: 0.006536305449009063