In [69]:
import pandas as pd
import numpy as np

In [70]:
df = pd.read_csv('results_lcfs-400-0,6.csv',
 delimiter=', ', header=None, names=['batch', 'E_W', 'E_Nq', 'E_Ns'], skiprows=1)

<ipython-input-70-7c0f2cde1a30>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('results_lcfs-400-0,6.csv',

In [71]:
df['E_W'] = df['E_W'].map(lambda x: float(x))
df['E_Nq'] = df['E_Nq'].map(lambda x: float(x))
df['E_Ns'] = df['E_Ns'].map(lambda x: float(x))

In [72]:
df

      batch       E_W    E_Nq    E_Ns
0         1  1.397227  0.7825  0.5700
1         2  1.391152  0.8975  0.5150
2         3  1.973299  1.2775  0.6600
3         4  2.112897  1.5325  0.6900
4         5  1.567703  1.0100  0.6050
...     ...       ...     ...     ...
3195   3196  1.667221  1.2375  0.6125
3196   3197  1.418193  0.9000  0.6250
3197   3198  1.224724  0.6825  0.6025
3198   3199  1.338024  0.7775  0.6300
3199   3200  1.622891  1.0550  0.6075

[3200 rows x 4 columns]

In [73]:
avgs = []
avgs.append(df['E_W'].mean())
avgs.append(df['E_Nq'].mean())
avgs.append(df['E_Ns'].mean())
avgs

[1.4663353025715906, 0.89627109375, 0.59904609375]

In [74]:
soma = np.array([0, 0])
for index, row in df.iterrows():
    soma[0] += (row['E_W'] - avgs[0])**2
    soma[1] += (row['E_Nq'] - avgs[1])**2
var = soma * 1/(len(df) - 1)

In [75]:
from math import sqrt
width_ic = [sqrt(var[0])/sqrt(len(df)), sqrt(var[1])/sqrt(len(df))]
IC_w = (avgs[0] - 1.96*width_ic[0], avgs[0] + 1.96*width_ic[0])
IC_nq = (avgs[1] - 1.96*width_ic[1], avgs[1] + 1.96*width_ic[1])

In [76]:
print(f"IC de W: {IC_w}")
print(f"IC de Nq: {IC_nq}")

IC de W: (1.45846636800006, 1.4742042371431212)
IC de Nq: (0.8914087659178312, 0.9011334215821688)

In [77]:
accuracy_w = (IC_w[1] - IC_w[0])/(IC_w[1] + IC_w[0])
accuracy_nq = (IC_nq[1] - IC_nq[0])/(IC_nq[1] + IC_nq[0])

print(f"W precision: {accuracy_w}\nNq precision: {accuracy_nq}")

W precision: 0.005366395092398324
Nq precision: 0.005425063762599761